section.section.screen.screen_first 
    .wrapper
        .wrapper-row
            .screen_first__description
                h2.title У тебя всегда при себе <span>смартфон</span>?
                p Тогда у тебя есть все для того, чтобы пройдя онлайн экспресс курс <span> делать тематические фотографии </span> на заданные темы и 
                p получать от 300 $ в месяц
                    