section.section.screen.screen_first 
    .parallax-container
        .parallax-container__item.rellax(data-rellax-speed="-1.75")
            img(src="./images/svg/medium-transparent-polygon.svg")
        .parallax-container__item.rellax(data-rellax-speed="-1.3")
            img(src="./images/svg/small-fill-polygon.svg")
        .parallax-container__item.rellax(data-rellax-speed="-2")
            img(src="./images/svg/medium-transparent-polygon.svg")
    .wrapper
        .wrapper-row
            .screen_first__description
                h2.title У тебя всегда при себе <span>смартфон</span>?
                p Тогда у тебя есть все для того, чтобы пройдя онлайн экспресс курс <span> делать тематические фотографии </span> на заданные темы и 
                p получать от 300 $ в месяц
                    