section.section.screen.screen_five
    .wrapper
        .wrapper-row
            .screen_five__description
                h2.title Разницу увидел?
                .subdesc
                    p После их курсов – шансы зарабатывать на смарт фото близки к нулю...
                    span После наших курсов – близки к 100%
                    p И все это с условиями, которые позволяют не менять привычный образ жизни, относясь к смарт фото на уровне хобби.
                .desc
                    p Весело, интересно,
                        span взаимодействуя с сокурсниками!
                        


