section.section.screen.screen_four
    .parallax-container
        .parallax-container__item.rellax(data-rellax-speed="-2")
            img(src="./images/svg/small-fill-polygon.svg")
        .parallax-container__item.rellax(data-rellax-speed="-1.55")
            img(src="./images/svg/medium-transparent-polygon.svg")
    .wrapper
        .wrapper-row
            .screen_four__description
                h2.title Почему мы? 
                p Чем мы отличаемся от других курсов по мобильной фотографии?
                .decoration-desc
                    strong Все другие курсы мобильной фотографи не обеспечаь тебе заработок под ключ. Их единственная цель - заработать на тебе дав минимум. Даже на бесплатных курсах следующие уровни - платные.
                p Мы - единственные, кто не только научат тебя правильно делать коммерческие фотографии, но и избавив от всех трудностей стоковых фотографов обеспечим нужный тебе уровень доходов.
                    


