//- (style="background-image: url(./images/static/bg-screen-1.png); background-size: contain; background-repeat: no-repeat; background-position: left bottom;")
section.section.home
    .parallax-container
        .parallax-container__item.rellax(data-rellax-speed="-1.5")
            img(src="./images/svg/medium-transparent-polygon.svg")
        .parallax-container__item.rellax(data-rellax-speed="-0.85")
            img(src="./images/svg/small-fill-polygon.svg")
        .parallax-container__item.rellax(data-rellax-speed="-1")
            img(src="./images/svg/medium-transparent-polygon.svg")
    .wrapper
        .wrapper-row
            .home-description
                .text
                    p Пройди 
                        span бесплатный курс,
                    p стоковый смарт фотограф
                    p и уже через
                        span 2-3 недели
                        span начни получать
                    p смарт деньги
            .home-form
                .form-container
                    form.form(action="./contact.php" method="POST")
                        .form-body
                            h3.form-body__title Заявка
                            .form-body__fields
                                input(required type="text" name="name" placeholder="Имя*")
                                input(required type="email" name="email" placeholder="Email*")
                                input(required type="tel" name="tel" placeholder="Телефон*")
                                input(required type="text" name="country" placeholder="Страна*")
                            .form-body__controls
                                button.button(type="submit") Оставить заявку
                                label.checkbox
                                    input(required type="checkbox" name="chx" id="chx") 
                                    span.checkbox__text Согласен на обработку персональных  данных
                        .form-footer С вами свяжутся чтобы присоединить к следующей группе курсантов
                            

