section.section.screen.screen_second
    .parallax-container
        .parallax-container__item.rellax(data-rellax-speed="-1")
            img(src="./images/svg/medium-transparent-polygon.svg")
        .parallax-container__item.rellax(data-rellax-speed="-2.5")
            img(src="./images/svg/small-fill-polygon.svg")
        .parallax-container__item.rellax(data-rellax-speed="-1.55")
            img(src="./images/svg/medium-transparent-polygon.svg")
    .wrapper
        .screen_second__caption
            p Раньше доходы с продажи фотографий были доступны профессиональным фотографам, теперь, благодаря STOCKNUB, 
            p фото деньги стали доступны тебе!
        .wrapper-row
            .screen_second__description
                p Тебе для этого 
                    span не хватает только одного
                p Пройти бесплатные курсы «смартфотограф» от 
                p stocknub 
                    span (Платформы продавца  фотографий с автоматической обработкой и загрузкой твоих смарт фотографий)
                p и получать постоянный доход 
                    span от 300 долларов 
                p Делая фотографии передвигаясь по своим делам или в свободное время.
                    
                    


