section.section.screen.screen_six
    .parallax-container
        .parallax-container__item.rellax(data-rellax-speed="-1.55")
            img(src="./images/svg/medium-transparent-polygon.svg")
        .parallax-container__item.rellax(data-rellax-speed="-2")
            img(src="./images/svg/small-fill-polygon.svg")
        .parallax-container__item.rellax(data-rellax-speed="0")
            img(src="./images/svg/home-transparent-polygon.svg")
    .wrapper
        .wrapper-row
            .screen_six__description
                h2.title Чтобы полностью увидеть все возможности, <span>посмотри обязательно это видео</span>
                a.frame-link(data-fslightbox="gallery" href="https://www.youtube.com/watch?v=EqquKNJjy8o")
                    img.frame-image(src="./images/static/frame-image.png" alt="frame image")
                    img.frame-icon(src="./images/static/frame-icon.png" alt="frame icon")     
                p Посмотрев видео сделай заявку, и можешь быть уверен, что через 2-3 недели, ты начнешь зарабатывать первые деньги, делая смарт фото, а через несколько недель достигнешь заработка от $300 в месяц, просто эффективно пройдя курсы. 

