section.section.screen.screen_six
    .wrapper
        .wrapper-row
            .screen_six__description
                h2.title Чтобы полностью увидеть все возможности, <span>посмотри обязательно это видео</span>
                a.frame-link(href="#")
                    img.frame-image(src="./images/static/frame-image.png" alt="frame image")
                    img.frame-icon(src="./images/static/frame-icon.png" alt="frame icon")     
                p Посмотрев видео сделай заявку, и можешь быть уверен, что через 2-3 недели, ты начнешь зарабатывать первые деньги, делая смарт фото, а через несколько недель достигнешь заработка от $300 в месяц, просто эффективно пройдя курсы. 

