- var listItems = ["научим как правильно делать смарт фото", "обеспечим заявками от онлайн маркетологов", "научим загружать сделанные фотографии в наше фото хранилище", "выводить заработанные деньги на свою карту"];

section.section.screen.screen_third
    .parallax-container
        .parallax-container__item.rellax(data-rellax-speed="-1")
            img(src="./images/svg/home-transparent-polygon.svg")
        .parallax-container__item.rellax(data-rellax-speed="-2")
            img(src="./images/svg/small-transparent-polygon.svg")
        .parallax-container__item.rellax(data-rellax-speed="-1.55")
            img(src="./images/svg/medium-transparent-polygon.svg")
    .wrapper
        .wrapper-row
            .screen_third__description
                h2.title(data-title="просто") Это <span>очень просто</span>
                p Тебе нужно только пройти онлайн курс смарт фотограф к концу курса ты уже начнешь получать смарт деньги делая смарт фото:
                ul
                    each value in listItems
                        li= value
                p Делать продаваемые смарт фотографии очень увлекательно. Совместимо с основной работой и семейными делами. Ты будешь фотографировать один в процессе передвижения по своим делам, а также в составе команды из сокурсников в свободное время.
                    


