header.header(role="banner")
    .header-wrapper
        .header-row
            .header-brand
                a.logo(href="/index.html")
                    picture.picture
                        source(srcset="./images/svg/logo.svg" type="image/svg+xml")
                        img(src="./images/static/logo.png" alt="Logo")
            .header-text
                p.
                    Бесплатный. Практический. Онлайн. Экспресс курс Стоковый Смарт Фотограф. По окончании курса  гарантированный доход от 300$. Обучаем с нулевого уровня.
