extends common/layout
block content
    main.main(role="main")
        include ./includes/index/main
        include ./includes/index/first-screen
        include ./includes/index/second-screen
        include ./includes/index/third-screen
        include ./includes/index/four-screen
        include ./includes/index/five-screen
        include ./includes/index/six-screen
        include ./includes/index/course



