.screen
    &_first
        // background-image: url(../images/static/bg-particles-2.png)
        background-size: 50% 70%
        background-position: right top
        background-repeat: no-repeat
        padding: 9.37rem 0 15.37rem 0
        margin-bottom: 3.375rem
        .parallax-container
            &__item
                &:first-child
                    bottom: 15%
                    right: 5%
                &:nth-child(2)
                    top: 0%
                    left: 71%
                &:last-child
                    top: 3%
                    left: 42%
        +large-block()
            background-size: 50% 60%
        +medium_desktop-block()
            background-size: 50% 60%
        +small_desktop-block()
            background-size: 50% 50%
        +xl-block()
            background-size: 64% 53%
        +xl-block()
            background-size: 70% 70%
            padding: 5.37rem 0 15.37rem 0
        +lg-block()
            background-size: 80% 60%
        +md-block()
            background-size: 55% 22%
            padding: 0 0 15.37rem 0
            .wrapper-row
                justify-content: center
        +sm-block()
            padding: 0 0 20.37rem 0
        +medium_mobile-block()
            padding: 0 0 17.37rem 0
        +small_mobile-block()
            padding: 0 0 15.37rem 0
        &::before
            content: ""
            position: absolute
            bottom: 0
            left: 0
            z-index: 0
            width: 100vw
            height: 100vh
            min-height: 100vh
            background-image: url(../images/static/bg-screen-2.png)
            background-repeat: no-repeat
            background-position: bottom
            background-size: contain
            pointer-events: none
            +sm-block()
                width: 200vw
                left: -23rem
            +small_mobile-block()
                left: -19rem
        &::after
            content: ""
            position: absolute
            left: -25%
            top: 0
            z-index: 1
            width: 41.354vw
            height: 41.354vw
            background-image: url(../images/svg/small-polygon.svg)
            background-repeat: no-repeat
            background-size: contain
            background-position: center center
            pointer-events: none
        &__description
            +col()
            +size(6)
            +shift-left(1.45)
            +shift-right(5)
            +shift-xl-right(4)
            +shift-sm-right(0)
            +shift-large-left(1.5)
            +size-xl(8)
            +shift-md-left(0)
            +size-md(10)
            +size-sm(12)
            .title
                font-family: $montserratBlack
                font-size: 2.1875rem
                line-height: 2.75rem
                margin-bottom: 1.5625rem
                +xl-block()
                    font-size: 1.9375rem
                +sm-block()
                    line-height: 2.3rem
                span
                    font-size: 3.125rem
                    color: set-color(accent)
                    +xl-block()
                        font-size: 2.75rem
            p
                font-family: $montserratBold
                font-size: 1.5625rem
                line-height: 2.1875rem
                +xl-block()
                    font-size: 1.375rem
                    line-height: 1.9375rem
                +sm-block()
                    font-size: 1rem
                    line-height: 1.375rem
                span
                    color: set-color(accent)
                &:not(:last-child)
                    margin-bottom: .875rem
                &:last-of-type
                    font-family: $montserratBlack
                    font-size: 2.5rem
                    color: set-color(accent)
                    +xl-block()
                        font-size: 1.375rem
                    +sm-block()
                        font-size: 1.75rem
    &_second
        background-image: url(../images/static/bg-particles-3.png)
        background-size: 100% 45%
        background-position: right top
        background-repeat: no-repeat
        padding: 0 0 17.37rem 0
        +large-block()
            background-size: 100% 37%
        +small_desktop-block()
            background-size: 100% 29%
            background-position: right center     
        +xl-block()
            background-position: right top  
        +lg-block()
            background-size: 100% 20%
        +md-block()
            background-size: 100% 17%
        +sm-block()
            background-size: 80% 9%
            padding-bottom: 23.37rem
        +medium_mobile-block()
            background-size: 100% 9%
        +small_mobile-block()
            background-size: 100% 7%
            padding-bottom: 19.37rem
        &::before
            content: ""
            position: absolute
            bottom: 4em
            left: 0
            z-index: -1
            width: 100vw
            height: 100vh
            min-height: 100vh
            background-image: url(../images/static/bg-screen-3.png)
            background-repeat: no-repeat
            background-position: bottom
            background-size: contain
            +sm-block()
                width: 200vw
        &::after
            content: ""
            position: absolute
            right: -25%
            top: 10%
            z-index: -1
            width: 41.354vw
            height: 41.354vw
            background-image: url(../images/svg/small-polygon.svg)
            background-repeat: no-repeat
            background-size: contain
            background-position: center center
            +large-block()
                right: -28%
            +xl-block()
                right: -32%
            +sm-block()
                top: 50%
                transform: translateY(-50%)
        &__caption
            text-align: center
            max-width: 75%
            margin: 0 auto 8.3125rem auto
            +xl-block()
                max-width: 100%
                margin: 0 auto 5.375rem auto
            p
                position: relative
                font-family: $montserratBold
                font-size: 1.5625rem
                +xl-block()
                    font-size: 1.375rem
                +md-block()
                    font-size: 1.125rem
                +sm-block()
                    font-size: 1rem
                &:last-child
                    color: #fff
                    &::before
                        content: ""
                        position: absolute
                        left: 50%
                        top: 50%
                        width: 100%
                        height: calc(100% + 5px)
                        background-color: set-color(accent)
                        z-index: -1
                        max-width: 50%
                        transform: translate(-50%, -50%) skew(-25deg)
                        +small_desktop-block()
                            max-width: 60%
                        +md-block()
                            max-width: 90%
                        +sm-block()
                            max-width: 100%
        &__description
            +col()
            +size(6.5)
            +size-md(12)
            +shift-right(1.25)
            +shift-left(5.5)
            +shift-xl-right(.5)
            +shift-lg-right(.1)
            +shift-md-right(0)
            +shift-lg-left(5.2)
            +shift-md-left(0)
            p
                line-height: normal
                span
                    display: block
                &:first-child
                    font-family: $montserratSemiBold
                    font-size: 1.125rem
                    margin-bottom: .625rem
                    +xl-block()
                        font-size: .875rem
                    +sm-block()
                        text-align: center
                    span
                        font-family: $montserratBlack
                        font-size: 1.25rem
                        color: set-color(accent)
                        +xl-block()
                            font-size: 1rem
                &:nth-child(2)
                    font-family: $montserratBlack
                    font-size: 2.5rem
                    padding-left: 2.1875rem
                    +xl-block()
                        font-size: 2.0625rem
                    +sm-block()
                        padding-left: 0
                        text-align: center
                        font-size: 1.8125rem
                &:nth-child(3)
                    font-family: $montserratBlack
                    font-size: 3.125rem
                    text-transform: uppercase
                    margin-bottom: .625rem
                    color: set-color(accent)
                    +xl-block()
                        font-size: 2.3125rem
                    +sm-block()
                        text-align: center
                    span
                        font-family: $montserratMedium
                        font-size: .8125rem
                        text-transform: lowercase
                        padding-left: 2.1875rem
                        color: set-color(text)
                        +xl-block()
                            font-size: .625rem
                        +sm-block()
                            padding-left: 0
                        &::first-letter
                          text-transform: uppercase
                &:nth-child(4)
                    font-family: $montserratBold  
                    font-size: 1.5625rem
                    padding-left: 2.1875rem
                    +xl-block()
                        font-size: 1.25rem
                    +sm-block()
                        padding-left: 0
                        text-align: center
                    span
                        font-family: $montserratBlack
                        font-size: 2.1875rem
                        margin-left: -2.1875rem
                        color: set-color(accent)
                        +xl-block()
                            font-size: 1.75rem
                &:last-child
                    font-family: $montserratBold
                    font-size: .875rem
                    padding-left: 2.1875rem
                    +xl-block()
                        font-size: .6875rem
                    +sm-block()
                        text-align: center
    &_third
        background-image: url(../images/static/bg-particles-4.png)
        background-size: 100% 80%
        background-position: right top
        background-repeat: no-repeat
        padding: 9.37rem 0 9.37rem 0
        +large-block()
            background-size: 100% 75%
        +small_desktop-block()
            background-size: 100% 65%
        +xl-block()
            background-size: 100% 50%
        +lg-block()
            padding: 0 0 9.37rem 0
            background-size: 100% 38%
        +md-block()
            background-size: 100% 23%
        +sm-block()
            padding: 0 0 27rem 0
            background-image: none
        &::before
            content: ""
            position: absolute
            bottom: 4em
            left: 0
            z-index: -1
            width: 100vw
            height: 100vh
            min-height: 100vh
            background-image: url(../images/static/bg-screen-4.png)
            background-repeat: no-repeat
            background-position: bottom
            background-size: contain
            +sm-block()
                bottom: 0
                width: 200vw
                left: -22rem
            +medium_mobile-block()
                left: -18rem
        &::after
            content: ""
            position: absolute
            left: -30%
            top: 34%
            z-index: -1
            width: 41.354vw
            height: 41.354vw
            background-image: url(../images/svg/small-polygon.svg)
            background-repeat: no-repeat
            background-size: contain
            background-position: center center
            +lg-block()
                top: 71%
            +sm-block()
                top: 54%
                transform: translateY(-50%)
        &__description
            position: relative
            +col()
            +size(7)
            +size-large(8)
            +size-small_desktop(9)
            +size-lg(8)
            +size-sm(12)
            +shift-left(1)
            +shift-lg-left(.5)
            +shift-sm-left(0)
            .title
                position: relative
                font-family: $montserratBlack
                font-size: 5rem
                line-height: normal
                margin-bottom: 1.375rem
                +xl-block()
                    font-size: 4.375rem
                +lg-block()
                    font-size: 3.75rem
                    line-height: 3.75rem
                +sm-block()
                    font-size: 2.8125rem
                    word-break: break-word
                    line-height: 3.125rem
                +small_mobile-block()
                    font-size: 2.2125rem
                    line-height: 2.125rem
                &::before
                    content: attr(data-title)
                    position: absolute
                    bottom: 0
                    right: -3rem
                    font-size: 12.5rem
                    color: rgba(145,145,160, .10)
                    +xl-block()
                        font-size: 11.125rem
                    +lg-block()
                        font-size: 9rem
                        right: auto
                        left: 5.5rem
                        top: -2.5rem
                    +md-block()
                        left: 1rem
                        font-size: 8rem
                    +sm-block()
                        font-size: 5.875rem
                        left: 0
                    +medium_mobile-block()
                        font-size: 5rem
                    +small_mobile-block()
                        font-size: 4rem
                        top: -1.5rem
                span
                    color: set-color(accent)
                    +lg-block()
                        display: block
                        white-space: nowrap
                    +sm-block()
                        white-space: normal
            ul
                margin-bottom: 1.5625rem
                +sm-block()
                    padding-left: 0
                    margin-bottom: 2.5625rem
                li
                    +xl-block()
                        font-size: 1rem
                    +sm-block()
                        font-size: .8125rem
            p
                &:first-of-type
                    font-family: $montserratSemiBold
                    font-size: 1.25rem
                    line-height: 1.875rem
                    margin-bottom: 1.0625rem
                    +xl-block()
                        font-size: 1.0625rem
                    +sm-block()
                        font-size: 1rem
                        line-height: 1.5rem
                &:last-of-type
                    font-family: $montserratMedium
                    font-size: .875rem
                    line-height: 1.5rem
                    +xl-block()
                        font-size: .75rem
                    +sm-block()
                        padding-right: 13.5rem
                        position: absolute
                        top: calc(100% + 10rem)
                    +medium_mobile-block()
                        padding-right: 8rem
                        top: calc(100% + 6rem)
    &_four
        background-image: url(../images/static/bg-particles-5.png)
        background-size: 15% 50%
        background-position: right top
        background-repeat: no-repeat
        padding: 7.37rem 0 11.37rem 0
        +medium_desktop-block()
            background-size: 15% 44%
        +small_desktop-block()
            background-size: 15% 40%
        +xl-block()
            padding: 1.37rem 0 11.37rem 0
            background-size: 15% 41%
        +lg-block()
            padding: 0 0 17.37rem 0
            background-size: 25% 47%
        +md-block()
            background-size: 36% 44%
        +sm-block()
            background-size: 25% 18%
            padding-bottom: 22.37rem
        &::before
            content: ""
            position: absolute
            bottom: 4em
            left: 0
            z-index: -1
            width: 100vw
            height: 100vh
            min-height: 100vh
            background-image: url(../images/static/bg-screen-5.png)
            background-repeat: no-repeat
            background-position: bottom
            background-size: contain
            +sm-block()
                width: 200vw
                left: -116px
        &::after
            content: ""
            position: absolute
            right: -30%
            top: 28%
            z-index: -1
            width: 41.354vw
            height: 41.354vw
            background-image: url(../images/svg/small-polygon.svg)
            background-repeat: no-repeat
            background-size: contain
            background-position: center center
            +medium_desktop-block()
                top: 46%
            +sm-block()
                top: 50%
                right: auto
                left: -30%
                transfrom: translateY(-50%)
        &__description
            position: relative
            +col()
            +size(7)
            +size-xl(8)
            +size-lg(9)
            +size-md(11)
            +size-sm(12)
            +shift-right(.6)
            +shift-large-right(1)
            +shift-small_desktop-right(.8)
            +shift-xl-right(.65)
            +shift-sm-right(0)
            margin-left: auto
            .title
                font-family: $montserratBlack
                font-size: 5.625rem
                color: set-color(accent)
                +xl-block()
                    font-size: 5rem
                +lg-block()
                    font-size: 4.375rem
                +sm-block()
                    font-size: 3rem
                +small_mobile-block()
                    font-size: 2.5rem
            .decoration-desc
                margin-left: 3.25rem
                margin-bottom: 1.4375rem
                +sm-block()
                    margin-left: 0
                strong
                    font-family: $montserratBold
                    line-height: 1.625rem
                    border-bottom: 2px solid set-color(decoration-color)
                    +xl-block()
                        font-size: .8125rem
                        line-height: 1.3125rem
            p
                &:first-of-type
                    font-family: $montserratBold
                    font-size: 1.625rem
                    line-height: 1
                    margin-bottom: 2.3125rem
                    +xl-block()
                        font-size: 1.4375rem
                        margin-bottom: 1.3125rem
                    +lg-block()
                        font-size: 1.3125rem
                    +sm-block()
                        font-size: 1.125rem
                &:last-of-type
                    font-family: $montserratMedium
                    font-size: .875rem
                    line-height: 1.5rem
                    +xl-block()
                        font-size: .8125rem
                    +sm-block()
                        text-align: right
                        padding-left: 11rem
                    +small_mobile-block()
                        padding-left: 8rem
                    +sm-block()
                        padding-left: 14.5rem
                        position: absolute
                        top: 100%
    &_five
        background-image: url(../images/static/bg-particles-6.png)
        background-size: 50% 60%
        background-position: left top
        background-repeat: no-repeat
        padding: 9.37rem 0 9.37rem 0
        +large-block()
            background-size: 50% 50%
        +small_desktop-block()
            background-size: 50% 44%
        +xl-block()
            background-size: 50% 32%
        +lg-block()
            background-size: 50% 30%
            padding: 0 0 21.37rem 0
        +md-block()
            background-size: 65% 31%
        +sm-block()
            padding: 0 0 28.37rem 0
            background-size: 100% 29%
        +medium_mobile-block()
            background-size: 100% 18%
        +small_mobile-block()
            padding-bottom: 23.37rem
        &::before
            content: ""
            position: absolute
            bottom: 4em
            left: 0
            z-index: -1
            width: 100vw
            height: 100vh
            min-height: 100vh
            background-image: url(../images/static/bg-screen-6.png)
            background-repeat: no-repeat
            background-position: bottom
            background-size: contain
            +sm-block()
                width: 200vw
                left: -25rem
            +medium_mobile-block()
                left: -23rem
            +small_mobile-block()
                left: -20rem
        &::after
            content: ""
            position: absolute
            left: -25%
            top: 15%
            z-index: -1
            width: 41.354vw
            height: 41.354vw
            background-image: url(../images/svg/small-polygon.svg)
            background-repeat: no-repeat
            background-size: contain
            background-position: center center
            +xl-block()
                left: -32%
            +sm-block()
                display: none
        &__description
            +col()
            +size(5.65)
            +size-large(6.5)
            +size-medium_desktop(7)
            +size-small_desktop(8)
            +size-xl(12)
            +shift-left(1.2)
            +shift-large-left(1.5)
            +shift-right(2)
            // +shift-large-right(3)
            +shift-xl-left(1)
            +shift-xl-right(0)
            +shift-lg-left(.5)
            +shift-md-left(0)
            .title
                font-family: $montserratBlack
                font-size: 4.375rem
                margin-bottom: 1rem
                color: set-color(accent)
                +xl-block()
                    font-size: 3.875rem
                +md-block()
                    font-size: 3.4375rem
                +sm-block()
                    font-size: 2.5rem
                    line-height: 1
            .subdesc
                padding-left: 2.5rem
                margin-bottom: 1.5rem
                +md-block()
                    margin-bottom: .5625rem
                +sm-block()
                    padding-left: 0
                p
                    font-family: $montserratMedium
                    font-size: 1.25rem
                    line-height: 1.625rem
                    +xl-block()
                        font-size: 1.0625rem
                    &:not(:last-of-type)
                        margin-bottom: 1.5625rem
                        +md-block()
                            margin-bottom: .5625rem
                    &:last-of-type
                        font-size: 1rem
                        +xl-block()
                            font-size: 1.0625rem
                        +md-block()
                            font-size: .875rem
                span
                    display: block
                    font-family: $montserratBold
                    font-size: 1.25rem
                    margin-bottom: 1.5625rem
                    +xl-block()
                        font-size: 1.0625rem
            .desc
                font-family: $montserratBlack
                p
                    font-size: 2.8125rem
                    line-height: normal
                    color: set-color(accent)
                    +xl-block()
                        font-size: 2.4375rem
                    span
                        display: block
                        font-size: 1.875rem 
                        color: set-color(text)
                        +xl-block()
                            font-size: 1.625rem
    &_six
        background-image: url(../images/static/bg-particles-7.png)
        background-size: 30% 60%
        background-position: right top
        background-repeat: no-repeat
        padding: 9.37rem 0 9.37rem 0
        +small_desktop-block()
            background-size: 30% 45%
        +xl-block()
            padding: 0 0 9.37rem 0
            background-position: left top
        +lg-block()
            background-size: 35% 42%
        +md-block()
            padding: 0 0 26.37rem 0
            background-size: 60% 43%
        +sm-block()
            background-size: 60% 35%
            margin-bottom: 1.875rem
        +medium_mobile-block()
            background-size: 60% 30%
            padding-bottom: 22.37rem
        +small_mobile-block()
            padding-bottom: 16rem
        &::before
            content: ""
            position: absolute
            bottom: 4em
            left: 0
            z-index: -1
            width: 100vw
            height: 100vh
            min-height: 100vh
            background-image: url(../images/static/bg-screen-7.png)
            background-repeat: no-repeat
            background-position: bottom
            background-size: contain
            +md-block()
                width: 142vw
            +sm-block()
                width: 200vw
                bottom: 0
        &__description
            position: relative
            +col()
            +size(7)
            +size-lg(7.7)
            +size-md(12)
            margin-left: auto
            .title
                font-family: $montserratBlack
                font-size: 1.875rem
                line-height: normal
                margin-bottom: 1.5625rem
                +lg-block()
                    font-size: 1.625rem
                +md-block()
                    text-align: center
                span
                    font-size: 2.5rem
                    +xl-block()
                        font-size: 2.125rem
            .frame-link
                display: flex
                align-items: center
                justify-content: center
                position: relative
                background-image: url(../images/static/frame-border.png)
                background-repeat: no-repeat
                background-position: center
                background-size: 100% 100%
                min-height: 350px
                padding: 1.3125em 3.8125em
                width: 100%
                margin-bottom: 2.5rem
                +md-block()
                    min-height: 260px
                +sm-block()
                    min-height: 170px
                    padding: 1.3125em 0.8125em
                .frame-image
                    width: 100%
                .frame-icon
                    position: absolute
                    bottom: -65px
                    right: -25px
                    z-index: 2
                    +sm-block()
                        bottom: -50px
                        right: -30px
                        max-width: 140px
            p
                font-family: $montserratMedium
                line-height: 1.625rem
                +xl-block()
                   font-size: .875rem
                +md-block()
                    text-align: right
                    padding-left: 22rem
                    position: absolute
                    top: 100%
                +sm-block()
                    padding-left: 0
                    margin-top: 0
                    text-align: center
                    display: none